{% extends 'base2.html' %}
{% block container %}
  <main class="container mt-5">
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
      <form action="/request_done" class="card mb-5" method="POST">
        <div class="card-body text-center pt-5">
          <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
          <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
        </div>
        <hr>
        <div class="card-body mx-3">
          <div class="row">
            <div class="col mb-5">
            <p>Какая цель занятий?</p>
            {{ request_form.purpose(class="form-check-input", style="list-style:none") }}
            </div>
            <div class="col mb-5">
              <p>Сколько времени есть?</p>
              {{ request_form.free_time(class="form-check-input", style="list-style:none") }}
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body mx-3 mt-5">
            {{ request_form.name.label(class="control-label mb-1 mt-2", text='Ваше имя') }}
            {{ request_form.name(class="form-control") }}
            {{ request_form.csrf_token() }}
            {{ request_form.phone.label(class="control-label mb-1 mt-2", text='Ваш телефон') }}
            {{ request_form.phone(class="form-control") }}
          <input type="submit" class="btn btn-primary mt-4 mb-2" value="Найдите мне преподавателя">
        </div>
      </form>
    </div>
  </main>
{% endblock %}